* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: darkcyan;  /* darkcyan */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: flex-end;
}

.login {
  border: 1px solid darkcyan;
  color: white;
  background-color: darkcyan;
  border-radius: 2px;
  margin-left: 25px;
  
  
}

.signup {
  border: 1px solid darkcyan;
  color: white;
  background-color: darkcyan;
  border-radius: 2px;
}

.header-container {
  color: darkcyan;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80px;
  margin-right: 120px;
  border-radius: 40px;
  margin-bottom: 400px;
}

.subscribe {
  margin-right: 50px;
  margin-top: 250px;
}